.copy_right_footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
    background-color: black;
    color: aliceblue;
}

img:hover{
    border-radius: 140px;
}

#background{
    color: bisque;
    border: 2cm;
    border-color: black;
}

.h3{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}


